<% include ../partials/top %>

<!-- flash messages -->
<div class="content-box" id="flash-msg-content-box">
	<% if (error_msg && error_msg.length > 0) { %>
	<div class="alert alert-danger" role="alert"><%= error_msg %></div>
	<% } %>
	<% if (success_msg && success_msg.length > 0) { %>
	<div class="alert alert-success" role="alert"><%= success_msg %></div>
	<% } %>
</div>

<!-- welcome section -->
<section id="welcome">
	<div class="content-box" id="welcome-content-box">
		<h1><i class="fa fa-home" aria-hidden="true"></i> Welcome to my blog</h1>
		<p>A place to keep knowlege and thoughts recorded</p>
		<% if (currentUser && currentUser.isSiteOwner) { %>
		<a href="/blogs/new" class="btn" id="new-blog-btn">Create New Blog</a>
		<% } %>
		<button class="btn" data-toggle="modal" data-target="#search-options" id="search-option-btn">Show search options</button>
	</div>
</section>

<!-- blogs index section -->
<section id="blogs">
	<div class="content-box" id="blogs-content-box">
		<% if (!blogs || blogs.length === 0) { %>
		<% if (currentUser && currentUser.isSiteOwner) { %>
		<p id="no-blogs-box"><span id="no-blogs-message">Currently has no blogs.</span><span id="no-blogs-create-link"><a href="/blogs/new">Create one</a></span></p>
		<% } else { %>
		<p id="no-blogs-box"><span id="no-blogs-message">Currently has no blogs.</span></p>
		<% } %>
		<% } else { %>
		<% for (var i = 0; i < blogs.length; i++) { %>
		<div class="blog">
			<div class="blog-image">
				<% if (blogs[i].thumbnail) { %>
				<img src="<%= blogs[i].thumbnail %>" alt="blog thumbnail">
				<% } else {%>
				<img src="/img/no-image.png" alt="blog thumbnail">
				<% } %>
			</div>
			<div class="blog-content">
				<h3 class="blog-content-title"><a href="/blogs/<%= blogs[i]._id%>"><%= blogs[i].title %></a></h3>
				<p class="blog-conetent-date"><%= moment(blogs[i].created_date).format("MMMM Do YYYY hh:mm:ss a"); %></p>
				<p class="blog-content-body"><%= blogs[i].abstract %> <a href="/blogs/<%= blogs[i]._id%>">...</a> </p>
				<div class="blog-content-tags">
				<% if (blogs[i].tags) { %>
				<h4>Tags:</h4>
				<% blogs[i].tags.forEach((tag) => { %>
					<span><%= tag %></span>
				<% }); %>
				<% } %>
				</div>
			</div>
		</div>
		<% if (i !== blogs.length - 1) { %>
		<hr class="blog-seperator">
		<% } %>
		<% } %>
		<% } %>
	</div>
	<% if (isPaged) { %>
	<div class="content-box" id="blogs-pagination-content-box">
		<% if (prev_page) { %>
		<a class="btn" href="/blogs?page=<%= prev_page %>">prev</a>
		<% } %>
		<% if (prev_page || next_page) { %>
		<input type="number" min="1" placeholder="<%= page %>" id="blogs-pagination-page-num">
		<a class="btn" id="blogs-pagination-go">GO</a>
		<% } %>
		<% if (next_page) { %>
		<a class="btn" href="/blogs?page=<%= next_page %>">next</a>
		<% } %>
	</div>
	<% } %>
</section>

<!-- search options popup -->
<div id="search-options-wrapper">
	<div class="modal fade" id="search-options" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Search Options</h4>
				</div>
				<div class="modal-body">
					<p>This feature is comming soom...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/bottom %>